.exContainer {
  /* max-width: 900px; */
  background-color: var(--bg-main);
  padding: 3rem;
  padding-left: var(--space-xl);
}
.exList {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}
.exCard {
  width: 340px;
  background-color: var(--bg-surface-1);
  border-radius: var(--radius-lg);
  box-shadow: var(--box-shadow-1);
}
.cardHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  transition: background-image 0.3s ease;
  background-image: linear-gradient(
    -90deg,
    var(--bg-surface-2),
    var(--bg-surface-3) 75%
  );
  padding: var(--space-lg);
  padding-bottom: var(--space-md);
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  cursor: pointer;
}

.exList h3 {
  color: var(--text-dark);
  margin: 0;
  font-family: var(--font-text);
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
}
.button {
  padding: 0;
}
.content {
  overflow: hidden;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  min-height: fit-content;
  font-size: 1.6rem;
  padding: 0;
  line-height: 1.5;
}
.contentContainer {
  padding-inline: var(--space-md);
  padding-block: 1rem;
}
.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md) var(--space-md);
}

.link,
.button {
  background-color: var(--bg-surface-3);
  padding: var(--space-sm) var(--space-lg);
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
}

.link:hover,
.button:hover {
  background-color: var(--bg-surface-1);
  border: 3px solid var(--border-color-2);
}
.link:active,
.button:active {
  background-color: var(--bg-secondary);
  border-color: transparent;
}
.link:focus-visible,
.button:focus-visible {
  background-color: var(--bg-surface-1);
  border: 3px solid var(--border-color-3);
}
.exCard:hover .cardHeading {
  background-image: linear-gradient(
    -90deg,
    var(--bg-surface-2),
    var(--bg-secondary) 75%
  );
}
