/* abdunkeln */
.dialogOverlay {
  background-color: rgba(0, 0, 0, 0.5); /* Halbtransparentes Schwarz */
  position: fixed;
  inset: 0; /* kompletter screen */
  animation: fadeIn 200ms ease-out;
  z-index: 1000;
  backdrop-filter: blur(4px);
}

/*Modal-Fenster */
.dialogContent {
  background-color: #ffffff;
  flex-direction: column;
  display: flex;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Perfekte Zentrierung */
  width: fit-content;
  height: fit-content;
  /*width: 90vw;*/
  max-width: 500px;
  max-height: 85vh;
  padding: 24px;
  animation: contentShow 250ms ease-out;
  z-index: 1001;
}
.dialogContent p {
  margin-block: var(--space-sm);
}
.date {
  text-align: center;
  color: var(--text-primary);
  padding-bottom: var(--space-md);
  border-bottom: 2px solid var(--text-primary);
}

.dialogContent:focus {
  outline: none;
}
.description {
  font-weight: 500;
  line-height: 1.6;
}
.reasoning {
  text-align: left;
  margin-top: 0 !important;
  line-height: 2;
}
.safeButton {
  margin: 0 auto;
  background-color: var(--bg-surface-3);
  padding: 1rem 6rem;
  margin-block: var(--space-md);
}
.information {
  padding: var(--space-md);
  line-height: 2;
}
.reasoningList {
  list-style-type: disc;
  margin-inline: var(--space-lg);
}

.reasoningList li {
  padding: var(--space-xs);
}

.closeButton {
  margin-top: 20px;
  padding: 10px 16px;
  background-color: var(--bg-button-primary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

.closeButton:hover {
  background-color: #e9ecef;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96); /* Kommt leicht von unten und zoomt rein */
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.dialogContent.smallContent {
  max-width: 320px;
  padding: 16px;
  text-align: center;
}

.smallInfoWrapper p {
  margin: 0;
  font-size: 15px;
  color: #333;
  padding: var(--space-md);
}
