:root {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: ghostwhite;
}

#root {
  width: 100%;
}

main {
  padding: 30px 50px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fdfdfd;
  min-height: 100dvh;
  box-shadow:
    2px 0px 20px #00000010,
    -2px 0px 20px #00000010;
}
