.header {
  padding: 0rem 6rem;
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: 1px solid var(--border-color-1);
  height: 65px;
}

.logo {
  width: 3.8rem;
  height: 3.8rem;
}
.logoText {
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-logo-dark);
}
.logoContainer {
  display: flex;
  gap: var(--space-xs);
  margin-left: auto;
  margin-top: 8px;
  margin-right: var(--space-md);
}
